div {
  max-width: 1600px;
  margin: auto;
  
  }

.center {
    text-align: center;
    border: 3px solid green;
      }
main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    width: 80px;
} 
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}  





               